@model IEnumerable<EspartoWorld.Web.ViewModels.ExposicionItems.ExpositionItemViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["All in exposition"];
}

<div class="container">
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-md-3 card-container">
                <div class="card card-flip border border-dark  m-2">
                    <div class="front card-block">
                        <img src=@item.ImageUrl class="card-img-top" />
                        <h4 class="card-title">@item.Title</h4>
                    </div>
                    <div class="back card-block card-body d-flex flex-column">
                        <h4 class="card-title m-2">@item.Title</h4>
                        <p class="card-text m-1"><b>@localizer["Author"]:</b> @item.Author.UserName</p>
                        <p class="card-text m-1">@item.Description</p>
                        @if (item.IsSold)
                        {
                            <h5 class="card-text text-muted m-1 mt-auto"><b>@localizer["SOLD"]</b></h5>
                        }
                        else
                        {
                            <h5 class="card-text text-danger m-1 mt-auto"><b>@item.Price &euro;</b></h5>
                            <a href="#" class="btn btn-primary mt-auto">@localizer["Buy"]</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/flipCards.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/flipCards.css" />
}