@model EspartoWorld.Web.ViewModels.ExpositionItems.ExpositionItemViewModelPagination
@using Microsoft.AspNetCore.Mvc.Localization
@using  EspartoWorld.Data.Models
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["All in exposition"];
}

<div class="container">
    <div class="row m-3">
        <div class="col-md-2">
            <form id="SearchForm" asp-action="All" asp-controller="Exposition" method="get" asp-route-id="1" asp-route-author="@Model.AuthorID">
                <label for="ItemCategory">@localizer["Sort By:"] </label>
                <select onchange="Submit()" name="ItemCategory" id="ItemCategory" asp-items="@Html.GetEnumSelectList<Category>()" class="selectpicker">
                    <option value="0" selected>--</option>
                </select>
                <input type="hidden" name="author" value="@Model.AuthorID" />
            </form>
        </div>
    </div>
    <div class="row text-center">

        @foreach (var item in Model.ExpositionItems)
        {
            <div class="col-md-6 col-lg-4 card-container">
                <div class="card card-flip border border-dark  m-2">
                    <div class="front card-block card-body d-flex flex-column">
                        <img src=@item.ImageUrl class="card-img-top img-fluid" />
                    </div>
                    <div class="back card-block card-body d-flex flex-column">
                        <h4 class="card-title m-2">@item.Title</h4>
                        <p class="card-text m-1"><b>@localizer["Author"]:</b> @item.Author.UserName</p>
                        <p class="card-text m-1">@item.Description</p>




                        @if (User.Identity.Name == item.Author.UserName)
                        {
                            <form class="mt-auto" id="Delete-@item.Id" asp-controller="Exposition" asp-action="DeleteOwnItem" asp-route-itemId=@item.Id method="post">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" onclick="GetDeleteForm()" data-toggle="modal" data-target="#deleteModal">@localizer["Delete"]</button>
                            </form>
                        }
                        else
                        {
                            <a class="mt-auto btn btn-success" asp-controller="Exposition" asp-action="All" asp-route-author=@item.AuthorId asp-route-id="1">@localizer["All artworks of this author"]</a>
                        }
                        <partial name="_RatingPartial" model="item" />
                    </div>
                </div>
            </div>
        }

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        If you are shure that you want to delete item click delete.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="SubmitDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <partial name="_PaginationPartial" model="@Model" />
</div>

@section Scripts{
    <script>
        document.getElementById("ItemCategory").value = @Model.ItemCategory
        var deleteForm;
        function Submit() {
            document.getElementById("SearchForm").submit()
            }

        function GetDeleteForm() {
            deleteForm = event.target.parentElement;
            console.log(deleteForm);
        }

        function SubmitDelete() {
            deleteForm.submit()
        }
    </script>
}


