@using Microsoft.AspNetCore.Mvc.Localization
@using EspartoWorld.Data.Models
@model EspartoWorld.Web.ViewModels.ExpositionItems.ExpositionItemModerateModel
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Check artwork"];
}

<h1>@localizer["Check artwork"]</h1>
<hr />

<form asp-action="Details" asp-controller="Exposition" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" hidden />
    <input asp-for="AuthorId" hidden />
    <input asp-for="ImageUrl" hidden />
    <input asp-for="Accepted" hidden />
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="IsSold" class="form-check-input">
                    <label asp-for="IsSold" class="control-label form-check-label">@localizer["Item is sold"]</label>
                </div>
                <span asp-validation-for="IsSold" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" readonly />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()" class="form-control"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="3" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src=@Model.ImageUrl class="img-fluid max-width:100% m-1" id="courseImage" alt="Item image">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="form-group">
            <button type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#exampleModalCenter">
                @localizer["All right"]
            </button>
            <a class="btn btn-primary m-1" asp-action="Moderate">@localizer["See all for moderate"]</a>
            <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#modalNotAccepted">
                @localizer["I disagree"]
            </button>

            <!-- Modal Accepted-->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><b>@localizer["I agree"]</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           @localizer["If you are sure that the information for this work of art is reviewed, click on the Publish button."]
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"]</button>
                            <button type="submit" id="accepted" class="btn btn-success">@localizer["Publish"]</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Not accepted-->
            <div class="modal fade" id="modalNotAccepted" tabindex="-1" role="dialog" aria-labelledby="modalNotAcceptedTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><b>@localizer["I do not accept"]</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @localizer["If you are sure that you do not want to publish this work click Reject and delete."]
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"]</button>
                            <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id=@Model.Id>@localizer["Reject and delete"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        var button = document.getElementById("accepted")
        button.addEventListener("click", () => {
            document.getElementById("Accepted").checked = true
        })
    </script>
}


