@model IEnumerable<EspartoWorld.Web.ViewModels.ExposicionItems.ExpositionItemViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Moderate"];
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@localizer["Title"]</th>
            <th scope="col">@localizer["Author"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author.Email</td>
                <td>
                    <a class="btn btn-success" asp-controller="Exposition" asp-action="Details" asp-route-id="@item.Id">@localizer["Details"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
