@model EspartoWorld.Web.ViewModels.Courses.CourseViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Details"];
}

<div class="row mb-2">
    <div class="col-sm-4 mb-2">
        <h3>@Model.Title</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-4 mb-2">
        <img class="img-fluid" src=@Model.ImageUrl />
    </div>
    <div class="col-sm-4">
        <div><b>@localizer["Date"]:</b> @Model.StartDateString - @Model.EndDateString </div>
        <div><b>@localizer["Place"]:</b> @Model.Place</div>
        <div><b>@localizer["Places"]:</b> @localizer["maximum"] @Model.GroupSize @localizer["people"].</div>
        <div><b>@localizer["Organizer"]:</b> @Model.Organizer</div>
        <div><b>@localizer["Price"]:</b> @Model.Price €</div>
    </div>
    <div class="col-sm-4">
        <div><b>@localizer["Description"]:</b></div>
        <div> @Model.Description</div>
    </div>
</div>
<div class="row mb-3">
    <a class="btn btn-primary m-1" asp-controller="Courses" asp-action="All">@localizer["All courses"]</a>
    @if (!Model.SubscribedForCourse)
    {
        <form asp-controller="Courses" asp-action="AddUserToCourse" asp-route-id="@Model.Id" method="post">
            <input type="submit" value="@localizer["I want to participate"]" class="btn btn-success m-1" />
        </form>
    }
</div>
@if (Model.SubscribedForCourse)
{
    <h5>@localizer["You are subscribed for this course. Do you want to view"] <a class="text-success" asp-controller="Courses" asp-action="MyCourses">@localizer["all courses for which you are subscribed"] ?</a></h5>
}
