@model EspartoWorld.Web.ViewModels.Courses.CourseViewModel

<div class="row mb-2">
    <div class="col-sm-4 mb-2">
        <h3>@Model.Title</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-4 mb-2">
        <img class="img-fluid" src=@Model.ImageUrl />
    </div>
    <div class="col-sm-4">
        <div><b>Fecha:</b> @Model.StartDateString - @Model.EndDateString </div>
        <div><b>Lugar:</b> @Model.Place</div>
        <div><b>Plazas:</b> maximo @Model.GroupSize personas.</div>
        <div><b>Organizador:</b> @Model.Organizer</div>
        <div><b>Precio:</b> @Model.Price €</div>
    </div>
    <div class="col-sm-4">
        <div><b>Mas informacion acerca de curso:</b></div>
        <div> @Model.Description</div>
    </div>
</div>
<div class="row mb-3">
    <a class="btn btn-primary m-1" href="/Courses/All">Todos cursos</a>
    <a class="btn btn-success m-1" href="#">Quiero participar</a>
</div>
