@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow ">
    <a class="navbar-brand ml-4" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Administrator"]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="admin-navbar">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@localizer["Add"]</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Courses" asp-action="Add">@localizer["Course"]</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Videos" asp-action="Add">@localizer["Video"]</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Add">@localizer["Product"]</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@localizer["Edit"]</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Courses" asp-action="EditAll">@localizer["Course"]</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Videos" asp-action="Edit">@localizer["Video"]</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@localizer["Check"]</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Exposition" asp-action="Moderate">@localizer["Artworks"]</a>
                </div>
            </li>
        </ul>
    </div>
</nav>