@model EspartoWorld.Web.ViewModels.ShoppingCart.ShoppingCartViewModelExtended
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = localizer["Shopping cart"]; }

@if (Model.SubtotalPrice == 0)
{
<h1>Your shopping cart is empty</h1>
                <a class="btn btn-light" asp-controller="Product" asp-action="All">
                    <i class="fas fa-shopping-cart"></i> Continue Shopping
                </a> }
            else
            {
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart)
                {
<tr>
    <td class="col-sm-8 col-md-6">
        <div class="media">
            <a class="thumbnail pull-left" asp-controller="Product" asp-action="Details" asp-route-id="@item.Product.Id">
                <img class="media-object" src="@item.Product.ImageUrl" style="width: 72px; height: 72px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Product.Id">@item.Product.Name</a></h4>
            </div>
        </div>
    </td>
    <td class="col-sm-1 col-md-1" style="text-align: center">
        <form onchange="Submit()" asp-controller="ShoppingCart" asp-action="ChangeProductQuantity" asp-route-id="@item.Product.Id" method="post">
            <div class="form-group">
                <input asp-for="@Model.QuantityChangeInputModel.Quantity" class="form-control" value="@item.Quantity" name="quantity">
            </div>
        </form>
    </td>
    <td class="col-sm-1 col-md-1 text-center"><strong>@item.Product.Price.ToString("N2")&euro;</strong></td>
    <td class="col-sm-1 col-md-1 text-center"><strong>@(item.Product.Price*item.Quantity)&euro;</strong></td>
    <td class="col-sm-1 col-md-1">
        <a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@item.Product.Id">
            <i class="fas fa-times"></i> Remove
        </a>
    </td>
</tr>
}

                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>Subtotal</h5></td>
                    <td class="text-right"><h5><strong>@Model.SubtotalPrice.ToString("N2")&euro;</strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>Estimated shipping</h5></td>
                    <td class="text-right"><h5><strong>@Model.Shipping.ToString("N2")&euro;</strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>@Model.TotalPrice.ToString("N2")&euro;</strong></h3></td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-light" asp-controller="Product" asp-action="All">
                            <i class="fas fa-shopping-cart"></i> Continue Shopping
                        </a>
                    </td>
                    <td>   </td>
                    <td>   </td>
                    <td colspan="2">
                        <button id="checkout-button" type="button" class="btn btn-success">
                            Checkout <i class="fas fa-play"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>}

@section Scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        function Submit() {
            let target = this.event.target;
            target.closest('form').submit();
        }
    </script>
    <script type="text/javascript">
       var stripe = Stripe('pk_test_51HrjU3AlRqb1byiWW26T6A9jlCEdr6aokqbwOHZDzQGis9cSRlhdgQAPZ95zgmYUSLJuis1KUVbI9ZwtJVfSsfME001tPBnQfy');
        let checkoutButton = document.getElementById('checkout-button');
        let antiForgeryToken = document.querySelector("input[name='__RequestVerificationToken']").value;

        checkoutButton.addEventListener('click', function () {
            fetch('/create-checkout-session', {
                method: 'POST',
                headers: {'X-CSRF-TOKEN': antiForgeryToken}
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    </script>
}